body, html {
  color: black;
  font-size:small;
  font-family:verdana, arial, sans-serif;
  background: #fff;
  padding:0;
  margin:0; 
}

a {text-decoration: none;color:#5C74BB;}

a:hover {text-decoration: underline;color:#D0670A;}

#banner {
  border: 1px #ccc dashed;
  margin:10px;
}

#banner h1 {text-align:center;margin:5px;padding:0;font-size:1.1em;}

#loginform {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 40px;
  padding:0;
  z-index: 3;
}

#leftbar {
  position: absolute;
  top: 40px;
  width: 250px;
  padding:4px;
  z-index: 3;
  background:white;
}

#leftbar p {text-align:center;margin:10px;}

#keymap {text-align:center;margin:10px;}
#keymap input {border:1px solid #eee;}

#layerscmd {text-align:center;padding:5px;}

#content {z-index: 0;margin-left: 258px;}

#loadbar {
  width:170px;
  padding:10px;
  background-color:white;
  border:1px solid #eee;
  font-weight:bold;
}
#loadbar img {border:0;margin-top:10px;}

pre {border: 1px #ccc dashed;padding:20px;margin-right:10px;}

.form_button {
  height:20px;
  border:1px solid #fff;
  border-bottom-color: #aaa;
  border-right-color: #aaa;
  background-color:#eee;
  color:black;
  font-size:0.8em;
  margin:2px;
}

.form_button_hilight {
  height:20px;
  border:1px solid #fff;
  border-bottom-color: #aaa;
  border-right-color: #aaa;
  background-color:#eee;
  color:red;
  font-size:0.8em;
  margin:2px;
}

.toolbar_on {
  border: 1px solid #efbfbf;
  cursor: pointer;
}

.toolbar_off {
  border: 1px solid #ffffff;
  cursor: pointer;
}

#dummy {
  width:0;
  height:0;
}

#scaleContainer {
  position:absolute;
  z-index:3;
}

#floatScale {
  position:relative;
/*  top: -15px;*/
  padding:0;
  margin:0;
}

#floatGeo {
  padding:0;
  margin:0;
}

#floatDistance {
  padding:0;
  margin: 0;
  display: none;
}

#floatSurface {
  padding:0;
  margin: 0;
  display: none;
}

.help_h1 {
  font-size: 1.2em;
  font-weight: bold;
}
.help_h2 {
  font-weight: bold;
}
.table_help{
  border:0;
  width:95%;
  background-color:#FAD54D;
}
#folder5 {
  text-align: justify;
  font-size: 0.9em;
  height:300px;
  overflow:auto;
}
#folder5 ul{
  margin-left: 5px;
  padding: 0px 0px 0px 15px;
}
#folder5 ul li {
  padding: 0px 0px 3px 5px;
}

