html, body {
  font-family:Arial,Helvetica,sans-serif;
  color:#333333;
  font-size:12px;
  background-color:white;
  margin:0;
}

legend {
  font-family:Arial,Helvetica,sans-serif;
  color:#333333;
  font-size:1.1em;
}

a {color:black; text-decoration:none;}
a:link, a:visited {color:#06c;}
a:hover {color:#f00}

img {border:0;}

#topbanner {
  width:100%;
  background-color:#8398ac;
  color:white;
}

#logo {
  background-color:white;
  width:255px;
  text-align:left;
}

#logo img {
  width:332px;
  height:52px;
}

#title {
  text-align:center;
  font-size: 18px;
  font-weight: lighter;
  vertical-align:middle;
}

#leftbar {
  position: absolute;
  /*left: 10px;
  top: 83px;*/
  width: 260px;
  padding:0;
  z-index: 3;
  background:white;
}

#leftbar p {text-align:center;margin:10px;}

#keymap {text-align:center;margin:10px;}
#keymap input {border:1px solid black;}

#layerscmd {text-align:center;padding:5px;}

#content {z-index: 0;/*margin-left: 256px;*/}

#loadbar {
  width:170px;
  padding:10px;
  border:1px solid #333;
  font-weight:bold;
  background-color:#efefef;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  opacity: 0.8;
}
#loadbar img {border:0;margin-top:10px;}

pre {border: 1px #ccc dashed;padding:20px;margin-right:10px;}


/* Mise en forme des listes de choix, input text, input submit, messages, mini (loginform & lien)*/
.form_button {
  font-family:Arial,Helvetica,sans-serif;
  color:#333333;
  font-size:0.9em;
  height:20px;
  border:1px solid #fff;
  border-bottom-color: #aaa;
  border-right-color: #aaa;
  background-color:#eee;
  margin:5px;
}

.form_button_hilight {
  font-family:Arial,Helvetica,sans-serif;
  height:20px;
  border:1px solid #fff;
  border-bottom-color: #aaa;
  border-right-color: #aaa;
  background-color:#eee;
  color:red;
  font-size:0.9em;
  margin:5px;
}

.select {
  font-family:Arial,Helvetica,sans-serif;
  color:#333333;
  font-size:0.9em;
}

.input_text{
  font-family:Arial,Helvetica,sans-serif;
  color:#333333;
  font-size:0.9em;
}

.locationInfo{
  font-family:Arial,Helvetica,sans-serif;
  color:#333333;
  font-size:0.8em;
}

.messages{
  text-align:center;
  font-size: 14px;
  font-weight: lighter;
  vertical-align:middle;
}

.mini{
  font-size:0.9em;
}

.table_help{
  margin-left:5px;
  margin-right:5px;
  border:0;
  width:95%;
  background-color:#FAD54D;
}

.s{
  text-decoration:underline;
}

/*end of global put in form balises*/

#mapframe {
  /*margin-top:10px;*/
}

#toolbar_row {
  padding:2px;
  text-align:center;
}

#toolbar {
  line-height:25px;
}

.toolbar_on {
  border: 1px solid #efbfbf;
  cursor: pointer;
}

.toolbar_off {
  border: 1px solid #ffffff;
  cursor: pointer;
}


.footer {
  height:25px;
  margin-bottom:10px;
}

.footertxt {
  height:25px;
  padding-top:3px;
  font-size:0.8em;
}

#search {
  border:0;
  width:220px;
  height:0;
}


#outline_mode fieldset,
#recenter fieldset,
#id_recentering fieldset,
#shortcut fieldset,
#pdf_format fieldset,
#pdf_orientation fieldset {
  font-size: 0.8em;
  margin: 8px;
  margin-left:0;
}

#outline_area fieldset,
#pdf_title fieldset,
#pdf_note fieldset,
#pdf_option fieldset,
#pdf_legend fieldset,
#query fieldset,
#folder4 fieldset {
  font-size: 0.8em;
  margin: 8px;
  margin-left:0;
  text-align: left;
}

#query label {
  padding-right: 10px;
}


#user_message {
  border:1px solid black;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #fef9f9;
  text-align:left;
}

#user_message #title {
  font-size:1.8em;
  padding-left: 20px;
  color:#DD6666;
}

.cw3table caption {
  font-size:1.4em;
}

.cw3table {
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
  padding: 0px;
}

.cw3table td, .cw3table th {
  padding-left: 3px;
  border-bottom: 1px solid #666666;
  border-right: 1px solid #666666;
}

#query_result {
  border:1px solid black;
  background-color: #f9f9f9;
}

#query_result_title {
  font-size:1.8em;
  padding-left: 40px;
  padding-top: 10px;
}

.lang_on {
  border: 1px solid #efbfbf;
  cursor: pointer;
}

.lang_off {
  border: 1px solid #8398ac;
  cursor: pointer;
}

#dummy {
  width:0;
  height:0;
}

#scaleContainer {
  position:absolute;
  z-index:3;
}

#floatScale {
  position:relative;
/*  top: -15px;*/
  padding:0;
  margin:0;
}

#floatGeo {
  padding:0;
  margin:0;
}

#floatDistance {
  padding:0;
  margin: 0;
  display: none;
}

#floatSurface {
  padding:0;
  margin: 0;
  display: none;
}

.help_viewer {
  text-align:left;
}