/* tabs / labels */
ul#toolbarnav {
    font: bold 9px verdana, arial, sans-serif;
    list-style-type: none;
    border-width: 0; 
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 0 0 24px 0px;
    z-index: 2;

    width: 250px;
}

ul#toolbarnav li {
    float: left;
    height: 21px;
    background-color: #efefef;
    margin: 2px 2px 0px 0px;
    border: 1px solid #999;
    border-bottom: 1px solid #000;
}

ul#toolbarnav li.active {
    border: 1px solid #000;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

ul#toolbarnav li.active a {
    color: #000;
}

#toolbarnav a {
    float: left;
    display: block;
    color: #666;
    text-decoration: none;
    padding: 4px;
}

#toolbarnav li:hover {
    background: #fff;
}

/*  folders container box */
#toolbar {
}

.toolbar {
  display: none;
  padding: 2px;
}