#layersroot {text-align:left;margin-left:10px; font-size:0.8em;}
#layersroot img {border:0;margin-bottom:2px;}
.v, .nov {text-align:left;margin-left:15px;line-height:1.5}
.lk {text-decoration:none;}
.nov {display:none;}
