#layersroot { text-align:left;margin-left:10px; font-size:0.8em;}
.v, .nov { text-align:left;margin-left:15px;line-height:1.5}
.lk { text-decoration:none;color:black;font-family:courier;font-size:1em;}
.nov { display:none;}
