.queryres {border-collapse: collapse;}
.queryres caption {background-color:#ccc;padding:3px;color:white;font-weight:bold;}
.queryres td, .queryres th {padding:5px;border:1px solid #ccc;text-align:center;}
.exportlink {margin-bottom:10px;}
