/layers
/layerFilter
/routing
/layerReorder
/outline
/auth
/location
/generated
/toolTips
/exportCsv
/edit
/accounting
/geostat
/exportHtml
/po
/exportDomPdf
/demoCW3
/exportRtf
/tables
/statictools
/search
/exportLinkIt
/query
/hilight
/statsReports
/ogcLayerLoader
/cartoMessages
/bboxHistory
/throttling
/mapOverlay
/exportPdf
/geoloc
/views
/exportDxf
/locate
/wmsBrowserLight
/adjustMapsize
/mapquery
/images
/exportImg
