
; Whether to show the Authentification login/logout buttons.
; (Warning: this is not related to the fact the authentification system will be
; active or not)
authActive = true

; The type of security container. Now ini, db or ldap can be used
securityContainer = "ini"

; db security container configuration

;dbSecurityDsn = "pgsql://user:password@localhost/test"

;dbSecurityQueryUser = "SELECT * FROM users WHERE username='%s' AND password='%s'"
;dbSecurityQueryRoles = "SELECT roles FROM users WHERE username='%s'"

; Ini security container configuration

; passwords values are md5sums of the password.
;  to get this value, you can type in a shell:
; $ echo -n 'mypassword'|md5sum

;users.toto = "c910474431df50cff186d68b4f65956c" ; $123pgz
;users.alice = "e3e4faee0cc7fc55ad402f517cdaf40c" ; /%12pw
;users.x = "9dd4e461268c8034f5c8564e155c67a6" ; x

; List of roles for each user

;roles.toto = "admin, editor"
;roles.alice = "editor"
;roles.x = "admin, editor"

; LDAP security container configuration
; inspired from Pear::Auth_Container_LDAP
;
; host:        localhost (default), ldap.netsols.de or 127.0.0.1
; port:        389 (default) or 636 or whereever your server runs
; basedn:      the base dn of your server
;              example: dc=ldap,dc=netsols,dc=de
; userattr:    the user attribute to search for (default: uid)
; groupdn:     gets prepended to basedn when searching for group
;              example: ou=Groups
; groupattr:   the group attribute to search for (default: cn)
; groupfilter: filter that will be added to the search filter when
;              searching for a group:
;              (&(groupattr=group)(memberattr=username)(groupfilter))
;              default: (objectClass=groupOfUniqueNames)
;              example1: (objectClass=posixGroup)
;              example2: (cn=cw*)(objectClass=posixGroup)
; memberattr : the attribute of the group object where the user dn
;              may be found (default: uniqueMember)
; groupscope:  Scope for group searching: one, sub (default), or base

;ldap.host = "ldap.netsols.de"
;ldap.basedn = "dc=ldap,dc=netsols,dc=de"
;ldap.groupdn = "ou=Groups"
;ldap.groupfilter = "(objectClass=posixGroup)"
;ldap.memberattr = "memberuid"
;ldap.groupscope = "one"
