;## General application behaviour ##

; if true, SOAP will be bypassed
cartoserverDirectAccess = true

; Current profile: may be development, production or custom
;  This will override some parameter values
profile = production

; -------------------------------------------------------------------
;  The following parameters are only taken into account when profile=custom
;
; if true, WSDL will be used for receiving SOAP requests
useWsdl = false
; disables the caching of wsdl (ignored if useWsdl is false)
noWsdlCache = false
; disables the caching of MapInfo requests
noMapInfoCache = false
; sets ini parameters useful during development
developerIniConfig = false
; allows tests running through Web interface
allowTests = false
; shows developer messages
showDevelMessages = false

; Set this to true if you are editing the templates
smartyCompileCheck = false
; -------------------------------------------------------------------

;## Cartoserver location and paths configuration ##

; Secifies the path for mapserver generated image when in direct access mode
;directAccessImagesUrl = "/path/to/direct/access/images/"

; The location of the cartoserver, used when cartoserverDirectAccess is true
; If it is not set, the default location will be used
;cartoserverHome = "/path/to/cartoserver/"

; The base url of the cartoclient
;cartoclientBaseUrl = "http://your/path/to/cartoclient/"

; The base url of the cartoserver
;cartoserverBaseUrl = "http://your/path/to/cartoserver/"

; Prefix where a reverse proxy has to be used to access images.
; The reverse proxy has to be on the same server than the client.
;reverseProxyPrefix = "/reverse"

;## Mapfile configuration ##

; The mapId of the mapfile to use
mapId = test

; The id of the initial map state to be loaded on startup
initialMapStateId = default

;## Tools configuration ##

; Indicates which tool is activated when in initial state. 
; If not specified, the first tool in the toolbar is activated. 
; Possible values are : zoomin, zoomout, pan, query, distance, surface
initialTool = zoomin

;## Project handling configuration ##

; Shows a drop-down list for selecting the active project
showProjectChooser = true

; List of the project to show in the drop down list. If not set, all projects
;  found will be used. 
;availableProjects = test_main, test_project

;## Plugins ##

; the list of plugins to load, separated by comma
loadPlugins = auth, hello, outline, exportPdf, exportHtml, exportCsv, views

;## Security configuration ##

; List of roles which are allowed to access the cartoweb. Set to 'all' if no
;  restriction is given.
securityAllowedRoles = all

;## Template engine configuration ##

; Set this to true to show the Smarty debugging console. Very useful while working
; on templates
smartyDebugging = false

;## Internationalization ##

; default language
defaultLang = en

; languages to make available in the viewer
;authLang = de, en, fr

; order of languages links in the viewer
;orderLang = en, fr, de

; Charset encoder class
EncoderClass.config = EncoderISO
EncoderClass.output = EncoderUTF

; Views management
viewOn = false
viewStorage = file
viewablePlugins = location, layers, query, outline
viewMetas = author
viewDsn = pgsql://www-data@localhost/cw3_test
viewAuth = admin
;viewSavedRequest = someRequestVarname
