### Cartoserver location configuration#

# if true, SOAP will be bypassed
cartoserverDirectAccess = false

# disables the caching of wsdl
noWsdlCache = false

# disables the caching of MapInfo requests
noMapInfoCache = false

# shows developer messages
showDevelMessages = false

# sets ini parameters useful during development
developerIniConfig = false

# Secifies the path for mapserver generated image when in direct access mode
#directAccessImagesUrl = "/path/to/direct/access/images/"

# The location of the cartoserver, used when cartoserverDirectAccess is true
# If it is not set, the default location will be used
#cartoserverHome = "/path/to/cartoserver/"

# The url of the cartoserver SOAP wsdl
# If it is not set, a default location will be guessed
#cartoserverUrl = "http://your/path/to/cartoserver.wsdl.php"

# Prefix where a reverse proxy has to be used to access images.
# The reverse proxy has to be on the same server than the client.
#reverseProxyPrefix = "/reverse"

### Mapfile configuration ###

# The mapId of the mapfile to use
mapId = test

# The id of the initial map state to be loaded on startup
initialMapStateId = default

# Tools configuration ###
initialTool = zoom_in

### Plugins ###

# the list of plugins to load, separated by comma
loadPlugins = hello
# unused
localPluginsPath = toto
# unused
localPlugins = myLocal

### Template engine configuration ###

# Template configuration
smartyCaching = false
smartyCompileCheck = true
smartyDebugging = false

### Internationalization ###

# I18n class
# use I18nDummy for no translation management
# use I18nGettext for gettext - will need PHP gettext module
I18nClass = I18nDummy

# default language
defaultLang = en
