; separator between each value, default is ";"
separator = ";"

; delimiter before and after each value, default is double-quote
; special characters:
;     double-quote = "
textDelimiter = "double-quote"

; file name format for exported CSV file, default is "[table]-[date,dMY].csv"
fileName = "[date,Ymd-Hi]_[table].csv"

; if true, exported CSV file will be UTF-8 encoded
; if false, it will be ISO-8859-1 encoded, default
charsetUtf8 = true
