; number of digits after the decimal point in points coordinates
roundLevel = "2"

; filename format
fileName = "export_[date,Ymd-His].dxf"

; template target when ajax mode is on
exportDxfContainerName = "exportDxfContainer"