mapSizesActive = true

;mapSizesDefault = 1

;mapSizes.0.label = small
;mapSizes.0.width = 300
;mapSizes.0.height = 150
;
;mapSizes.1.label = normal
;mapSizes.1.width = 400
;mapSizes.1.height = 300
;
;mapSizes.2.label = big
;mapSizes.2.width = 800
;mapSizes.2.height = 600

;if true, keymap is shown on map, and possibly hidden
;collapsibleKeymap = true

;if true, keymap will not be drawn at all
;noDrawKeymap = true

;if true, scalebar will not be drawn
;noDrawScalebar = true
