; if true, shows recenter on (x,y) form
recenterActive = true

; if true, shows scale form
scalesActive = true

; if true, shows free scale form (scalesActive must be true too)
freeScaleActive = false

; if true, shows shortcuts form
shortcutsActive = true

; if true, shows recenter on id form
idRecenterActive = true

; the list of layers which will be shown on the recenter selection list
; if this list is not set, all layers are proposed in the list
;idRecenterLayers = 

; if current scale is above this limit, measure unit is km else m
;deprecated instruction scaleUnitLimit = "100000"
; if current scale is above this limit, measure unit is km else m 
; if < 500 render meters + 2 decimals place 
scaleUnitMaxLimit =  "10000" 
scaleUnitMinLimit =  "500" 

; ratio for panning, default is 1.0
;panRatio = "0.25"

; adds following icons in separated toolbar group
;groupFullextent = "2"
