; if true, shows recenter on (x,y) / scale form
recenterActive = true

; if true, shows shortcuts form
shortcutsActive = true

; if true, shows recenter on id form
idRecenterActive = true

; if current scale is above this limit, measure unit is km else m
;scaleUnitLimit = 100000

; ratio for panning, default is 1.0
;panRatio = 0.25
