; the list of layers which will be shown on the hilight selection list
;  if this list is not set, all layers are proposed in the list
selectionLayers = grid_defaulthilight, grid_classhilight, grid_layerhilight

