; cartoserver configuration file

; developer mode disables caches and allows debugging mechanisms
developerMode = false

; path where cartoserver generated images can be accessed
;imageUrl = "/path/to/images/"

; The url of the reverse proxy, if used
;reverseProxyUrl = http://host/proxy/address

; Port number (workaround for Soap bug, should be OK in PHP 5.0.3)
;soapBrokenPortInfo = PORT_NUMBER
