; cartoserver configuration file

# disables the caching of wsdl
noWsdlCache = false

# disables the caching of getMap requests
noMapResultCache = false

# disables the caching of SOAP XML requests
noSoapXMLCache = false

# shows developer messages
showDevelMessages = false

# sets ini parameters useful during development
developerIniConfig = false

; path where cartoserver generated images can be accessed
;imageUrl = "/path/to/images/"

; The url of the reverse proxy, if used
;reverseProxyUrl = http://host/proxy/address

; Port number (workaround for Soap bug, should be OK in PHP 5.0.3)
;soapBrokenPortInfo = PORT_NUMBER
