; cartoserver configuration file

; if true, WSDL will be used for receiving SOAP requests
useWsdl = false

; disables the caching of wsdl (ignored if useWsdl is false)
noWsdlCache = false

; disables the caching of getMap requests
noMapResultCache = false

; disables the caching of SOAP XML requests
noSoapXMLCache = false

; shows developer messages
showDevelMessages = false

; sets ini parameters useful during development
developerIniConfig = false

; allows tests running through Web interface
allowTests = false

; path where cartoserver generated images can be accessed
;imageUrl = "/path/to/images/"

; The url of the reverse proxy, if used
;reverseProxyUrl = http://host/proxy/address
